# This notebook will explore the airbnb data from Mex. City

 Importing the necessary packages and loading the datasets

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
calendar_df = pd.read_csv('../raw_data/mexico/calendar.csv')
list_df = pd.read_csv('../raw_data/mexico/listings.csv')
rev_df = pd.read_csv('../raw_data/mexico/reviews.csv')

### Displaying the first three rows of every dataframe(df) in order to know the tables

In [4]:
list_df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.38283,-99.27178,Entire home/apt,4123,1,0,NaN,NaN,1,363,0,NaN
1,44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,NaN,Cuauhtémoc,19.41162,-99.17794,Entire home/apt,15000,1,50,2021-08-23,0.41,10,344,1,NaN
2,56074,Great space in historical San Rafael,265650,Maris,NaN,Cuauhtémoc,19.43977,-99.15605,Entire home/apt,600,2,66,2021-11-21,0.50,2,364,10,NaN

In [5]:
calendar_df.head(3)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2084093,2021-12-26,f,$453.00,$453.00,1.0,1125.0
1,35797,2021-12-26,f,"$4,123.00","$4,123.00",1.0,7.0
2,35797,2021-12-27,f,"$4,123.00","$4,123.00",1.0,7.0

In [7]:
rev_df.head()

   listing_id        date
0       44616  2011-11-09
1       44616  2012-08-16
2       44616  2012-12-28
3       44616  2013-01-04
4       44616  2013-03-19

we observe that the listings table has it's own information as well as some processed information from the reviews and calendar tables. At the same time, the reviews table has the date of each individual review per id.

In [15]:
 #rev_df.groupby(by=['listing_id']).count().sort_values(by='date')

### Listing table cleaning
we can see there are some columns with null values, so i will se how much of that is usefull so we have a dataset prepared for some modelling.

In [29]:
print((list_df.isnull().sum()/len(list_df)*100).sort_values(ascending=False))

license                           100.000000
neighbourhood_group               100.000000
reviews_per_month                  20.234037
last_review                        20.234037
name                                0.015263
host_name                           0.005088
number_of_reviews                   0.000000
number_of_reviews_ltm               0.000000
availability_365                    0.000000
calculated_host_listings_count      0.000000
id                                  0.000000
minimum_nights                      0.000000
room_type                           0.000000
longitude                           0.000000
latitude                            0.000000
neighbourhood                       0.000000
host_id                             0.000000
price                               0.000000
dtype: float64

**MISSING DATA!!**

summing all the Null ocurrences per column and dividing it by the length of the columns we can have the percentage of null values per column. It is a good practice to get rid off any column with more than 30-35% of null values (if they are not specified to mean something). So, i will drop the 'license' and 'neighbourhood_group' columns.

For the rest of the columns, i will input them values or replace the null value for some place holder.

In [32]:
#dropping columns and saving the changes into the same table
list_df.drop(columns=['license', 'neighbourhood_group'], inplace=True)

In [47]:
#replacing null values in name and host_name columns to 'no_name' value.
list_df['name'].replace(np.nan, 'no_name', inplace=True)
list_df['host_name'].replace(np.nan, 'no_name', inplace=True)

In [ ]:
#inputing values for last_review and reviews_per_month. In this case, we will input the most common date for last_review and input and average for reviews_per_month for all null values.
sim_imp = SimpleImputer()

list_df['last_review']

In [48]:
print((list_df.isnull().sum()/len(list_df)*100).sort_values(ascending=False))

last_review                       20.234037
reviews_per_month                 20.234037
id                                 0.000000
name                               0.000000
host_id                            0.000000
host_name                          0.000000
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
calculated_host_listings_count     0.000000
availability_365                   0.000000
number_of_reviews_ltm              0.000000
dtype: float64